parameters:
	ignoreErrors:
		-
			message: '#^Trait TestMonitor\\Incrementable\\Traits\\Incrementable is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Traits/Incrementable.php
